<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-6 border p-3 mt-5">
      <h2><%= "#{@group.name}" %></h2>
      <h3>Book</h3>
        <% @group.books.each do |book| %>
          <li><%= book.title %></li>
        <% end %>
        <a class="btn btn-primary" href=<%= books_path(group_id: @group.id) %> role="button">Add Book to Group</a>
      <h3>Users</h3>
      <ul>
        <% @group.users.each do |user| %>
          <li><%= user.full_name %></li>
        <% end%>
      </ul>
      <h3>Events</h3>
      <ul>
        <% @group.events.each do |event| %>
          <li><%= event.date_time %></li>
        <% end%>
      </ul>
      <a class="btn btn-primary" href=<%= new_group_event_path(@group) %> role="button">Create New Event</a>
    </div>
  </div>
</div>
