<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-6 border p-3 mt-5">
      <h2>Create New Event</h2>
      <%= form_with model: @event, url: [@group, @event] do |form| %>
        <div class="form-group">
          <%= form.label :date_time %>
          <%= form.datetime_local_field :date_time, { class: "form-control" } %>
          <%= form.label :book_title, "Choose a book:" %>
          <%= form.select :book_title, @group.books.map(&:title), {}, class: 'custom-select' %>
        </div>
        <%= form.submit "Create Event", { class: "btn btn-primary" } %>
      <% end %>
    </div>
  </div>
</div>
